/.idea/workspace.xml
/bin/test/Test1$1.class
/bin/test/Test1.class
/.idea/artifacts/test_jar.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/bin/META-INF/MANIFEST.MF
/bin/META-INF/test.kotlin_module
/bin/test/socket/SocketClientTest.class
/bin/test/socket/SocketServerTest.class
/bin/test/socket/udp/MyThread.class
/bin/test/socket/udp/UDPClientTest.class
/bin/test/socket/udp/UDPServerTest$1.class
/bin/test/socket/udp/UDPServerTest$2.class
/bin/test/socket/udp/UDPServerTest.class
/classes/artifacts/test_jar/test.jar
/src/META-INF/MANIFEST.MF
