<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player(60,100)-stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{26,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkleft-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{26,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkleft-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkleft-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkleft-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,66}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkright-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkright-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,66}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkup-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{24,66}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>Player(60,100)-walkup-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{24,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{24,66}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{24,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{26,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-left-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-left-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{34,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-right-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{26,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{26,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{26,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,66}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-right-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-right-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,66}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{34,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{24,66}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>walk(60,100)-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{24,66}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{24,66}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a1412a45e86555a1ce5356da0f27d8$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
