<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy(80,140)-hit-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,112},{44,108}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{44,108}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>enemy(80,140)-hit-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{44,108}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{44,108}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>enemy(80,140)-hit-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,108}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{54,108}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>enemy(80,140)-stand-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,108}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{42,108}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>enemy(80,140)-walkright-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,112},{38,108}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{38,108}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>enemy(80,140)-walkright-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,106}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{48,106}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97b24d89c491a3e62169b4c223e7d4c4$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
